.singup-header
  = render partial: 'users/shared/user_header'
.singup-main
  .singup-main__header
    %h2 会員情報入力
    .singup-main__form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .field
          = f.label 'ニックネーム'
          %h1.field_caution 必須
          %br/
          = f.email_field :nickname, class: "forms", autofocus: true, autocomplete: "nickname", placeholder: "例） フリマ太郎"
        .field
          = f.label 'メールアドレス'
          %h1.field_caution 必須
          %br/
          = f.email_field :email, class: "forms", autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
        .field
          = f.label 'パスワード'
          %h1.field_caution 必須
          %br/
          = f.password_field :password, class: "forms", autocomplete: "new-password", placeholder: "7文字以上の半角英数字"
          .field-check
            = f.check_box :password
            パスワードを表示する
          %a 本人確認
          .field-text
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .field
          = f.label 'お名前（全角）'
          %h1.field_caution 必須
          %br/
          = f.email_field :familyname, class: "form-names", autofocus: true, autocomplete: "familyname", placeholder: "例） 山田"
          = f.email_field :firstname, class: "form-names", autofocus: true, autocomplete: "firstname", placeholder: "例） 綾"
        .field
          = f.label 'お名前カナ（全角）'
          %h1.field_caution 必須
          %br/
          = f.email_field :familyname, class: "form-names", autofocus: true, autocomplete: "familyname", placeholder: "例） ヤマダ"
          = f.email_field :firstname, class: "form-names", autofocus: true, autocomplete: "firstname", placeholder: "例） アヤ"
        .field
          = f.label '生年月日'
          %h1.field_caution 必須
          %br/
          = f.email_field :birth_year, class: "form-birth", autofocus: true, autocomplete: "birth_year", placeholder: "-"
          年
          = f.email_field :birth_month, class: "form-birth", autofocus: true, autocomplete: "birth_month", placeholder: "-"
          月
          = f.email_field :birth_day, class: "form-birth", autofocus: true, autocomplete: "birth_day", placeholder: "-"
          日
        .field
          = f.label '電話番号'
          %h1.field_caution 必須
          %br/
          = f.email_field :phone_number, class: "forms", autofocus: true, autocomplete: "phone_number", placeholder: "ハイフン省略"
        .field__text
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .singup-main__form-consent
          「次へ進む」のボタンを押すことにより、
          %br/
          = link_to '#' do
            利用規約
          に同意したものとみなします。
      .singup-main__form-submit
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.submit "同意して次へ", class: 'singup-btn'
      .signup-main__form-text
        %p
          = link_to '#' do
            本人情報の登録について
            = icon 'fas', 'chevron-right'
.singup-footer
  = render partial: 'users/shared/user_footer'