.credit-card-show-wrapper
  .verification_header
    = render partial: 'items/shared/verification_header'
  - if @card.present?
    .credit-content
      .credit-content__item
        %h2.credit-content__item__title
          支払い方法
        .payment__main
          .payment__list
            .payment__list__content
              %h3.sub__head クレジットカード一覧
          .card__payment__list
            %form.card__payment__content
            .card__list
              .card__list__picture
                -# = @card_brand
                -# = image_tag "assets/#{@card_src}", width: '26', height: '20', alt: @card_brand, id: "card_image"
                = image_tag "#{@card_src}", width: '50', height: '30', alt: @card_brand
            .card__number 
              = "**** **** **** " + @card_information.last4
            .expire__date 
              - exp_month = @card_information.exp_month.to_s
              - exp_year = @card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
            = form_tag(delete_credit_card_path(@card.id), method: :post, id: 'charge-form',  name: "inputForm") do
              %input{ type: "hidden", name: "card_id", value: "" }
              %button.delete__button 削除する
          .how__not__regist
            = link_to user_path(current_user) do
              戻る
            = link_to "支払い方法について"
  - else
    .credit-card-add_card-wrapper
      .credit-content
        = render "add_card"
  .verification_footer
    = render partial: 'items/shared/verification_footer'