.presingup-header
  = render partial: 'users/shared/user_header'
.presingup-contents
  .presingup-contents__body
    .presingup-contents__body-head
      新規会員登録
    .presingup-contents__body-icon
      = link_to "/users/sign_up", class: "presingup-contents__body-btn presingup-contents__body-btn--mail" do
        = icon('far','envelope', class: "presingup-contents__body-btn--icon")
        メールアドレスで登録する
      = link_to "https://www.facebook.com/", class: "presingup-contents__body-btn presingup-contents__body-btn--facebook" do
        = icon('fab','facebook-square', class: "presingup-contents__body-btn--icon")
        Facebookで登録する
      = link_to "", class: "presingup-contents__body-btn presingup-contents__body-btn--google" do
        = icon('fab','google', class: "presingup-contents__body-btn--icon")
        Googleで登録する
.presingup-footer
  = render partial: 'users/shared/user_footer'