.top_header
  = render partial: "items/shared/top_header"

.mypage-main
  .side-bar
    %section
      .side-bar__mypage-menu
        %h3.mypage-menu
          マイページメニュー
        %ul.mypage-menu__lists
          %li.like-list.side-bar__common
            = link_to '#' do
              いいね一覧
              %i.fas.fa-chevron-right
          %li.todo-list.side-bar__common
            = link_to '#' do
              やることリスト
              %i.fas.fa-chevron-right
          %li.evaluation-list.side-bar__common
            = link_to '#' do
              評価一覧
              %i.fas.fa-chevron-right
    %section
      .side-bar__selling-item
        .selling-item
          商品を出品する
        %ul.selling-item__lists
          %li.selling-item--now.side-bar__common
            = link_to '#' do 
              商品を出品する
              %i.fas.fa-chevron-right
          %li.selled-item--now.side-bar__common
            = link_to '#' do
              出品した商品 - 出品中
              %i.fas.fa-chevron-right
          %li.selled-item--trading.side-bar__common
            = link_to '#' do
              出品した商品 - 取引中
              %i.fas.fa-chevron-right
          %li.selled-item--sold.side-bar__common
            = link_to '#' do
              出品した商品 - 売却済み
              %i.fas.fa-chevron-right
    %section
      .side-bar__buying-item
        .buying-item
          商品を購入する
        %ul.buying-item__lists
          %li.buyed-item--trading.side-bar__common
            = link_to '#' do 
              購入した商品 - 取引中
              %i.fas.fa-chevron-right
          %li.buyed-item--past.side-bar__common
            = link_to '#' do
              購入した商品 - 過去の取引
              %i.fas.fa-chevron-right
    %section
      .side-bar__setting
        .setting
          設定
        %ul.setting__lists
          %li.method__payment.side-bar__common
            = link_to credit_cards_path(@card) do
              支払い方法
              %i.fas.fa-chevron-right
          %li.logout.side-bar__common
            = link_to '#' do
              ログアウト
              %i.fas.fa-chevron-right
  %main.content
    %section.mypage_user_icon
      = link_to '#' do
        %figure
          = image_tag 'gorira.png', width: 60, height: 60
        %h2.nickname
          ニックネーム
        .user-data
          %div
            評価
            %span
              100
          %div
            出品数
            %span
              100
    %section.mypage-tab-container-notification-todo
      %ul.mypage-tabs
        %li.notification
          %h3
            = link_to '#' do
              お知らせ
        %li.todo
          %h3
            = link_to '#' do
              やることリスト
      .tab-content
        %ul.notification__lists
          %li
            = link_to '#', class: :mypage__item__link do
              %figure
                = image_tag 'logo(アイコンのみ).png', width: 48, height: 48
              .mypage-item-body
                .mypage-item-text
                  CM放送中!! たくさん出品して１億円ポイント山分けしちゃおう
                .time
                  %i.far.fa-clock
                  %span
                    ２日目
              %i.fas.fa-chevron-right
          %li
            = link_to '#', class: :mypage__item__link do
              %figure
                = image_tag 'logo(アイコンのみ).png', width: 50, height: 50
              .mypage-item-body
                .mypage-item-text
                  事務所から個別メッセージ「本日締め切り!! 今フリマペイ登録でP１５００プレゼント
                .time
                  %i.far.fa-clock
                  %span
                    3日目
              %i.fas.fa-chevron-right
          %li
            = link_to '#', class: :mypage__item__link do
              %figure
                = image_tag 'logo(アイコンのみ).png', width: 50, height: 50
              .mypage-item-body
                .mypage-item-text
                  売れたらお家で待つだけ!!梱包・発送フリマ便が新登場♪
                .time
                  %i.far.fa-clock
                  %span
                    4日目
              %i.fas.fa-chevron-right
          %li.mypage-go-link
            = link_to '#' do
              一覧を見る
    %section.mypage-tab-container
      %h3.mypage-tab-head
        購入した商品
      %ul.mypage-tabs
        %li
          = link_to '#', class: :transaction__now do
            %h3
              取引中
        %li
          = link_to '#', class: :transaction__old do
            %h3
              過去の取引
      .tab-content
        %ul.tab-content__transaction-now
          %li.mypage-item-not-found
            取引中の商品がありません
.top_footer
  = render partial: "items/shared/top_footer"