.password-header
  = render partial: 'users/shared/user_header'
.password-content
  .password-content__question
    %h2 パスワードをお忘れの方
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .password-form
        %p.email メールアドレス
        .field-email
          = f.email_field :email, class: "field-email__input", autocomplete: "email", placeholder: "ご登録されたメールアドレス"
        %p.description ご登録されたメールアドレスにパスワード再設定のご案内が送信されます       
      - if devise_mapping.rememberable?
        .field-check
          = f.check_box :remember_me
          私はロボットではありません
      .login-submit
        = f.submit "送信する", class: "password-submit__btn"
.password-footer
  = render partial: 'users/shared/user_footer'