.verification-wrapper
  .verification_header
    = render partial: 'items/shared/verification_header'
  .verification-content
    .verification-content__item
      %h2.verification-content__item__title
        購入内容の確認
      %sectonc.verification-content__item__body
        .verification-content__item__body__caption
          .verification-content__item__body__caption--center
            .verification-content__item__image
              = image_tag(@image.image, size: "80x80")
            .verification-content__item__detail
              %p.verification-content__item__detail__name
                = @item.product_name
              %p.verification-content__item__detail__price
                %span
                  ¥
                  = number_to_currency(@item.price, precision: 0)     # number_to_currencyはメソッド名です。unitは通貨単位を指定してます。(デフォルトは$です) precisionは少数以下の桁の指定です。(今回は小数点以下は切り捨てたいので0です)  追記 unitはエンマークの表示がうまく行かなかったので消しました。
                %span
                  (税込) 送料込み
      %section.verification-content__item--payment
        .verification-content__item--payment-body
          %form.verification-form
            %ul.verification-form__content
              %li.verification-form__content__list
                .verification-form__content__list__title
                  支払い金額
                .verification-form__content__list__price
                  %span
                    ¥
                    = number_to_currency(@item.price, precision: 0)
            %section.verification-form--payment
              .verification-form--payment__body
                %h3
                  支払い方法
                = link_to credit_card_path(@item) do
                  %i.fas.fa-plus-circle
                  %span
                    登録してください
  .verification_footer
    = render partial: 'items/shared/verification_footer'
