%ul.footer__contents
  %li.content
    %h2.content__head FURIMAについて
    %ul
      %li
        = link_to  "＃", class: "content--link" do
          会社概要（運営会社）
      %li
        = link_to  "＃", class: "content--link" do
          プライバシーポリシー
      %li
        = link_to  "＃", class: "content--link" do
          FURIMA利用規約
      %li
        = link_to  "＃", class: "content--link" do
          ポイントに関する特約
  %li.content
    %h2.content__head FURIMAを見る
    %ul
      %li
        = link_to  "＃", class: "content--link" do
          カテゴリー一覧
      %li
        = link_to  "＃", class: "content--link" do
          ブランド一覧
  %li.content
    %h2.content__head ヘルプ＆ガイド
    %ul
      %li
        = link_to  "＃", class: "content--link" do
          FURIMAガイド
      %li
        = link_to  "＃", class: "content--link" do
          FURIMAロゴ利用ガイドライン
      %li
        = link_to  "＃", class: "content--link" do
          お知らせ
.footer__logo
= link_to image_tag("logo-white.png", class: "white-logo", width: "160"), "＃"
%p.footer__logo--small © FURIMA